*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    border: none;
}
button {cursor: pointer;}

:root {
    --transition: 1s cubic-bezier(2.50, .5, 0, 1);
    --dark: #070707;
    --dynamic_size_fonts: calc(1vw + 1vw);
    --trans_slid: .25s cubic-bezier(.2, .6, 0, 1)
}

.layer-all {
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateZ(120);
}
.layer-2 {
    background-image: url(../assets/1.png);
    transform: translateZ(80px);
}

/* logo */
.layer-3 {
    width: 250px;
    height: 250px;
    margin-left: 20%;
    margin-top: 15%;
    transform: translateZ(180px);
}
.layer-4 {
    background-image: url(../assets/layer-5.png);
    transform: translateZ(20px);
}
.layer-4-1 ,.layer-4-2 {
    width: 472.65px; 
    height: 511.054px; 
    margin-top: 50vh;
    transform: translateZ(150px);
}
.layer-4-1 {
    background-image: url(../assets/Ellipse28.png);
    margin-left: 0%;
}
.layer-4-2 {
    background-image: url(../assets/Ellipse29.png);
    margin-left: 90%;
}
.layer-5 {transform: translateZ(720px);}
.layers {perspective: 1300px; overflow: hidden;}
.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}
.layers__item,.btn-btn,#pink,.slider_bg,#blue,.reviews,.title-comment {position: absolute;}
.layers__item {
    inset: -10vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
/* end block 3d */

/* Header */
header {
    position: absolute; 
    z-index: 1;
    width: 100%;
    height: 100px;
}
.head_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
li a {
    color: #fff; 
    transition-duration: 1s;
    font-family: 'Oswald';
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}
li a:hover {color: #43FFD2;}

.logo { width: 34px; height: 75px; }

.title {
    position: relative;
    top: 30%;
    text-align: center;
}
.title h1, .title span{
    color: #FFF;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
} 
.title h1 {
    font-family: 'Cormorant';
    font-size: 20vh;
    font-weight: 300;
    letter-spacing: 40px;
}
.title span {
    font-family: 'Oswald';
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.social {cursor: pointer; margin-top: 120px;}

.btn-catalog {
    width: 220px;
    height: 50px;
    background: #43FFD2;
    margin-top: 50px;
    color: #000;
    font-family: 'Oswald';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.btn-catalog:hover {
    background-color: #7D2253;
    color: #fff; 
    transition-duration: 1s;
}

.basket {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.wrapper_basket,.modal_basket {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 1s ease; animation-fill-mode: forwards;
    visibility: hidden;
}
.wrapper_basket {
    background: rgba(251, 251, 251, 0.645);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 2;
    left: -2200px;
}
.modal_basket {
    right: -2200px;
    max-width: 40%;
    width: 30%;
    background: #000000;
    z-index: 3;
}
.wrapper_basket_active {visibility: visible; left: 0;}
.modal_basket_active {visibility: visible; right: 0;}