*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    border: none;
}

:root {
    --transition: 1s cubic-bezier(2.50, .5, 0, 1);
    --dynamic_size_fonts: calc(1vw + 1vw);
    --trans_slid: .25s cubic-bezier(.2, .6, 0, 1);
    
    --dark: #070707;
    --white: #fff;
    --neon_green: #43FFD2;
    --neon_pink: #7D2253;

    --f_oswald: 'Oswald';
    --f_cormorant: 'Cormorant';
}

body{background: var(--dark); overflow-x: hidden;}

button {cursor: pointer;}

.layer-all {
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateZ(120);
}
.layer-2 {
    background-image: url(../assets/1.png);
    transform: translateZ(80px);
}

/* logo */
.layer-3 {
    width: 250px;
    height: 250px;
    margin-left: 20%;
    margin-top: 15%;
    transform: translateZ(180px);
}
svg {cursor: pointer;}
svg:hover {width: 70px;}



.layer-4 {
    background-image: url(../assets/layer-5.png);
    transform: translateZ(20px);
}
.layer-4-1 ,.layer-4-2 {
    width: 472.65px; 
    height: 511.054px; 
    margin-top: 50vh;
    transform: translateZ(150px);
}
.layer-4-1 {
    background-image: url(../assets/Ellipse28.png);
    margin-left: 0%;
}
.layer-4-2 {
    background-image: url(../assets/Ellipse29.png);
    margin-left: 90%;
}
.layer-5 {transform: translateZ(720px);}
.layers {perspective: 1300px; overflow: hidden;}
.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}
.layers__item,.btn-btn,#pink,.slider_bg,#blue,.reviews,.title-comment {position: absolute;}
.layers__item {
    inset: -10vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
/* end block 3d */

header {
    position: absolute; 
    z-index: 1;
    width: 100%;
    height: 100px;
}
.head_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.active_header {
    position: fixed;
    left: 0;
    background-color: #1c1d1d;
    width: 100%;
    animation-name: header-active;
    transition-duration: all .2s;
}

li a {
    color: var(--white); 
    transition-duration: 1s;
    font-family: var(--f_oswald);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}
li a:hover {color: var(--neon_green);}

.logo { width: 34px; height: 75px; }

.title {
    margin-top: 400px;
    text-align: center;
}
.title h1, .title span{
    color: var(--white);
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
} 
.title h1 {
    font-family: var(--f_cormorant);
    font-size: 20vh;
    font-weight: 300;
    letter-spacing: 40px;
}
.title span {
    font-family: var(--f_oswald);
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.social {cursor: pointer; margin-top: 120px;}

.btn-catalog {
    width: 220px;
    height: 50px;
    background: var(--neon_green);
    margin-top: 50px;
    color: var(--dark);
    font-family: var(--f_oswald);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.btn-catalog:hover {
    background-color: var(--neon_pink);
    color: var(--white); 
    transition-duration: 1s;
}

.basket {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.wrapper_basket,.modal_basket {
    position: fixed;
    top: 0;
    height: 100%;
    transition: all 1s ease; animation-fill-mode: forwards;
}
.wrapper_basket {
    background: rgba(251, 251, 251, 0.645);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 2;
    left: -2200px;
}
.modal_basket {
    right: -2200px;
    max-width: 40%;
    width: 30%;
    background: #000000;
    z-index: 3;
}
.modal_basket h4 {
    color: var(--neon_green);
    font-family: var(--f_oswald);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 10px 30px;
    padding: 20px;
    border-bottom: 1px solid var(--white);
}
.modal_basket h5 {
    color: var(--white);
    font-family: var(--f_cormorant);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 60px auto;
}

.wrapper_basket_active {display: block; left: 0;}
.modal_basket_active {display: block; right: 0;}

/* footer */
footer {
    height: 200px;
    margin-top: 50px;
}


/* media */
footer {
    position: relative;
    max-width: 2300px;
    left: 50%;
    transform: translate(-50%);
}
