@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

.layer-1 {
    background-image: url(../assets/imgindex.jpg); 
}
.wrapper_slider {
    position: relative;
    width: 100%;
    min-height: 50vh;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.wrapper_slider span {
    font-weight: 600;
    background: linear-gradient(4deg, var(--neon_green), #001818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--f_cormorant);
    font-size: 40px;
}
.wrapper_slider p {
    font-size: 16px;
    opacity: .9;
    transition: transform var(--trans_slid);
    transition-duration: 3s;
    line-height: 30px; 
    color: var(--white);
    max-width: 450px;
    margin-top: 20px;
    font-family: var(--f_oswald);
    font-weight: 500;
}
.title_slider { transition: opacity var(--trans_slid), transform var(--trans_slid);}
.title_slider.hidden {
    opacity: 0;
    transform: translateY(5vh);
    transition: all 1s ease;
}


.destination_slider {
 position: absolute;
 left: 10%;
 z-index: 10;
}
.destination_slider h2 {
    background: linear-gradient(4deg, #43FFD2, #001818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--f_cormorant);
    font-size: 40px;
    white-space: nowrap;
}

.swiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  right: 0vh;
}
.swiper-slide {
  width: 50vh;
  height: 50vh;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.swiper-slide-active {filter: blur(0px);}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {background: var(--white);}
.swiper-slide span {
  text-transform: uppercase;
  color: var(--white);
  background: #6d7b61;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: var(--f_cormorant);
}
.swiper-slide--one span { background: #c60019;}
.swiper-slide--two span { background: #203fb3;}
.swiper-slide--three span { background: #418785;}
.swiper-slide--four span {background: #9a3054;}

.swiper-slide h2 {
  color: var(--white);
  font-family: var(--f_oswald);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}
.swiper-slide p {
  color: var(--white);
  font-family: var(--f_oswald);
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide--one {background: url(../assets/roza_buton_krasnyj_124871_1920x1080.jpg) no-repeat 50% 50% / cover;}
.swiper-slide--two {background: url(../assets/roza_siniaia_roza_kapli_130603_3840x2160.jpg) no-repeat 50% 50% / cover;}
.swiper-slide--three {background:url(../assets/rozy_kust_tsvetenie_128901_1920x1080.jpg) no-repeat 50% 50% / cover;}
.swiper-slide--four {background:url(../assets/tiulpany_buket_rozovyj_1005885_1920x1080.jpg) no-repeat 50% 50% / cover;}
.swiper-slide--five {background: url(../assets/tsvety_buket_kompozitsiia_115359_1920x1080.jpg) no-repeat 50% 50% / cover;}


.container-reviews {
  position: relative;
  height: 70vh;
  background: #0F2222;
  margin-top: 50px;
}
.tree {
  left: 0;
  background-image: url(../assets/flow.png);
  background-repeat: no-repeat;
  width: 691.885px;
  height: 1037.827px;
  transform: rotate(0deg);
}
.pink,
.blue {
  top: 0;
  position: absolute;
  transform: rotate(180deg);
  z-index: -1;
}
.pink {
  background-image: url(../assets/Ellipse\ 39.png);
  width: 500px;
  height: 600px;
}

.blue {
  left: 40px;
  width: 800px;
  height: 600px;
  background-image: url(../assets/Ellipse\ 40.png);
}

.text-comm {
  position: absolute;
  left: 20vh;
  top: 10vh;
  color: var(--white);
  font-family: var(--f_cormorant);
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.reviews {right: 100px; top: 0;}
.title-comment {left: 10vh; margin-top: 100px;}
.title-comment p {
  text-align: right;
  font-family: var(--f_oswald);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--white);
  text-transform: uppercase;
}
.input-input,.btn-push {font-family: var(--f_oswald);}
.input-input {
  background-color: transparent; 
  border: 1px solid var(--neon_green); 
  color: var(--neon_green);
  font-size: 20px;
  padding: 20px;
}
form {display: flex; flex-direction: column; margin-top: 200px;}
.group,.comment,.btn-push {margin-top: 20px;}
.group {width: 445px;height: 60px; margin-top: 20px; }
::placeholder {
  color: #395959;
  font-size: 16px;
}
.comment {
  width: 445px;
  height: 120px;  
  resize: none; 
  font-size: 14px;
}
.btn-push {
  margin-left: 110px;
  width: 255px;
  height: 50px;
  background: var(--neon_green);
  color: var(--dark);
  font-size: 17px;
  font-weight: 400;
  border: none;
}
.inputErorr {
  border-color: rgb(74, 3, 3);
  box-shadow: 0px 0px 40px 0px rgba(255, 0, 0, 0.20);
}
.flash {padding: 10px; position: absolute; text-align: center;}
.flash.success {
    width: 600px;
    height: 400px;
    background-color: #395959;
    left: 50%; transform: translate(-50%);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    color: var(--white);
    font-size: 40px;
    font-family: var(--f_cormorant);
    position: fixed;
    top: -1300px;
    text-transform: uppercase;
}
.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
    margin-top: 20px;
}
.content_reviews img {
  width: 166px;
  height: 160px;
  padding: 10px;
}
.signature h4 {
  color: var(--white);
  font-family: 'Sevillana', cursive;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; 
  letter-spacing: 7px;
  text-transform: lowercase;
}


/* media */
.container-reviews,
.wrapper_slider,
.wrapper_reviews{
  max-width: 2300px;
  left: 50%;
  transform: translate(-50%);
}