.layer-1 {
    background-image: url(../assets/imgindex.jpg); 
}
.wrapper_slider {
    position: relative;
    width: 100%;
    min-height: 50vh;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.wrapper_slider span {
    font-weight: 600;
    background: linear-gradient(4deg, var(--neon_green), #001818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--f_cormorant);
    font-size: 40px;
}
.wrapper_slider p {
    font-size: 16px;
    opacity: .9;
    transition: transform var(--trans_slid);
    transition-duration: 3s;
    line-height: 30px; 
    color: var(--white);
    max-width: 450px;
    margin-top: 20px;
    font-family: var(--f_oswald);
    font-weight: 500;
}
.title_slider { transition: opacity var(--trans_slid), transform var(--trans_slid);}
.title_slider.hidden {
    opacity: 0;
    transform: translateY(5vh);
    transition: all 1s ease;
}


.destination_slider {
 position: absolute;
 left: 10%;
 z-index: 10;
}
.destination_slider h2 {
    background: linear-gradient(4deg, #43FFD2, #001818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--f_cormorant);
    font-size: 40px;
    white-space: nowrap;
}

.swiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  right: 0vh;
}
.swiper-slide {
  width: 50vh;
  height: 50vh;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.swiper-slide-active {filter: blur(0px);}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {background: var(--white);}
.swiper-slide span {
  text-transform: uppercase;
  color: var(--white);
  background: #6d7b61;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: var(--f_cormorant);
}
.swiper-slide--one span { background: #c60019;}
.swiper-slide--two span { background: #203fb3;}
.swiper-slide--three span { background: #418785;}
.swiper-slide--four span {background: #9a3054;}

.swiper-slide h2 {
  color: var(--white);
  font-family: var(--f_oswald);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}
.swiper-slide p {
  color: var(--white);
  font-family: var(--f_oswald);
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide--one {
  background: url(../assets/roza_buton_krasnyj_124871_1920x1080.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: url(../assets/roza_siniaia_roza_kapli_130603_3840x2160.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background:url(../assets/rozy_kust_tsvetenie_128901_1920x1080.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background:url(../assets/tiulpany_buket_rozovyj_1005885_1920x1080.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: url(../assets/tsvety_buket_kompozitsiia_115359_1920x1080.jpg) no-repeat 50% 50% / cover;
}
