{% extends 'base.html' %}

{% block mystyle %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
<div class="wrapper_slider">
    <div class="destination_slider">
        <h2>ПОПУЛЯРНЫЕ БУКЕТЫ</h2>
        <p>
            У НАС САМЫЙ БОЛЬШОЙ ВЫБОР ЦВЕТОВ, БУКЕТОВ,
            ОТКРЫТОК И ПОДАРКОВ. МЫ ВСЕГДА ПОМОЖЕМ ВАМ
            ПОДОБРАТЬ БУКЕТ ДЛЯ ВАШЕГО СОБЫТИЯ,
            НАШ МЕНЕДЖЕР ВАС ПРОКОНСУЛЬТИРУЕТ И
            ПОМОЖЕТ ОПРЕДЕЛИТЬСЯ С ВЫБОРОМ
        </p>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide--one">
            <span>domestic</span>
            <div>
              <h2>Enjoy the exotic of sunny Hawaii</h2>
              <p>Maui, Hawaii</p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--two">
            <span>subtropical</span>
            <div>
              <h2>The Island of Eternal Spring</h2>
              <p>Lanzarote, Spanien</p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--three">
            <span>history</span>
            <div>
              <h2>Awesome Eiffel Tower</h2>
              <p>Paris, France</p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--four">
            <span>Mayans</span>
            <div>
              <h2>One of the safest states in Mexico</h2>
              <p>The Yucatan, Mexico</p>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--five">
            <span>native</span>
            <div>
              <h2>The most popular yachting destination</h2>
              <p>Whitsunday Islands, Australia</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
</div>
<div class="container-reviews">
  <div class="tree"></div>
  <div class="pink"></div>
  <div class="blue"></div>
  <div class="text-comm">Оставьте <br> комментарий</div>
  <div class="reviews">
      <div class="title-comment"><p>Вы можете Оставить комментарий к данному сайту, это поможет мне учесть недочёты и сделать работу лучше</p></div>
      <form action="/" method="post" class="form">
          <input type="text" class="input-input group name" id="inpFeedback" placeholder="Ваше Имя" >
          <input type="email" class="input-input group email" id="inpFeedback" placeholder="Ваш почтовый адрес" >
          <textarea cols="30" rows="10" class="input-input comment" id="inpFeedback" placeholder="Ваш комментарий к сайту" ></textarea>
          <button class="blue_btn btn-push">отправить отзыв</button>
          <div class="sms_push">
              <span>Ваш комментарий <br> отправлен</span><br>
              <h3>Спасибо за обратную связь !</h3>
          </div>
      </form>
  </div>
</div>
<div class="wrapper_reviews">
    <div class="content_reviews">
      <img src="{{ url_for('static', filename='assets/Rectangle44.png') }}" alt="Ошибка изображения">
      <img src="{{ url_for('static', filename='assets/Rectangle45.png') }}" alt="Ошибка изображения">
      <img src="{{ url_for('static', filename='assets/Rectangle46.png') }}" alt="Ошибка изображения">
      <img src="{{ url_for('static', filename='assets/Rectangle47.png') }}" alt="Ошибка изображения">
    </div>
    <div class="signature">
        <h4>Our social <br> networks</h4>
        <div class="neon_green"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slider-index.js') }}"></script>
<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
{% endblock %}


